In [2]:
import pandas as pd
import numpy as np

In [3]:
# Благо, чтение из файла уже реализовано в test-dataset, возьмем его оттуда
df = pd.read_csv('./data/Run200_Wave_0_1.txt', sep=' ', header=None, skipinitialspace=True)
df = df.drop([0, 1, 2, 3, 504], axis=1)
df.columns = list(range(500))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,14820,14823,14824,14822,14818,14820,14824,14822,14820,14820,...,14828,14822,14815,14815,14817,14819,14820,14822,14820,14819
1,14820,14822,14820,14826,14824,14822,14820,14822,14823,14821,...,14828,14817,14824,14822,14824,14819,14820,14819,14822,14820
2,14820,14820,14822,14825,14820,14824,14824,14819,14823,14824,...,14820,14821,14820,14820,14818,14821,14823,14820,14820,14821
3,14828,14822,14818,14824,14824,14822,14820,14822,14824,14820,...,14824,14826,14822,14821,14820,14828,14820,14822,14823,14822
4,14823,14815,14823,14821,14827,14820,14823,14824,14816,14821,...,14820,14820,14823,14828,14824,14820,14824,14824,14822,14825

# Анализ датасета и данных

В первую очередь разберемся, почему в условиях написано, что детектор один, а данных на 500 столбцов. После чтения литературы удалось выяснить, что в сцинтилляционных детекторах 500 значений - это данные с одного детектора, распределенные по времени. Соответственно, один сигнал в 500 значений времени.

Проанализируем датасет со знанием этих вводных

In [5]:
missing_data = df.isnull().sum()

missing_data.loc[missing_data>0]
# Видим, что пропущенных данных нет

Series([], dtype: int64)

In [6]:
preprocesesed_df = df.copy()
preprocesesed_df['Integral'] = df.sum(axis=1)

# Вычисление PSD (предположим, хвост — последние 100 отсчётов)
preprocesesed_df['Qtail'] = df.iloc[:, -100:].sum(axis=1)
preprocesesed_df['PSD_ratio'] = preprocesesed_df['Qtail'] / preprocesesed_df['Integral']

In [9]:
preprocesesed_df.to_csv('./preprocesesed_df.csv')